<!DOCTYPE html>
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
    title Lucinda
  body
    h1 Lucinda
    form(action="/query" method="get")
      input(type="text" name="request" id="request")
      button(type="submit") Senden
    .results
      ul 
        each res in results
          - const url="/lucinda/3.0/get/"+res.id
          li
            p= res.concern 
              | : 
              a(href=url)  #{res.title}
            


          