extends common

block contents

  form.pure-form(action="/setmeta" method="post")
    fieldset
      table.pure-table.pure-table-bordered
        thead
          tr
            th Element
            th Wert
        each meta in metadata
          tr 
            td #{meta.key} 
            td 
              input(type="text" name=meta.key value=meta.value)

    button.pure-button.pure-button-primary(type="submit") Senden
  a(href="/") Zurück 
