extends common

block contents

  h1 Scanne Dokumente

  p Ein Komplettscan wurde gestartet. Dies kann einige Zeit dauern. Sie können Lucinda während dieser Zeit benutzen, aber es sind mglicherweise noch nicht alle Dokumente sichtbar.

  a(href="/") Zurück